# general
*/node_modules/**/*
*/.env

# client
client/.expo/*
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/

# server
algo/__pycache__
algo/cords.xlsx
algo/distances.csv
algo/config.py

# macOS
.DS_Store
